<section class="signup-form" fxFill fxLayout="column" fxLayoutAlign="center center">
  <div class="login-cover"></div>
  <mat-card>
    <mat-error *ngIf="isWrongPassOrUser" class="error-login">
      User or pass are invalid. Try again my fish!
    </mat-error>
    <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Your Email"
          name="email" formControlName="email"
          autofocus
        >
        <mat-error *ngIf="loginForm.get('email').hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="loginForm.get('email').value && loginForm.get('email').hasError('email')">The email is invalid.</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Should be at least 6 characters!">
        <input
          matInput
          type="password"
          placeholder="Your Password"
          name="password" formControlName="password"
          minlength="6"
        >
        <mat-hint align="end">{{loginForm.get('password').value.length}} / 6</mat-hint>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Has to be at least 6 characters</mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Has to be at least 6 characters</mat-error>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" *ngIf="!(isLoading$ | async)">Login</button>
      <div *ngIf="(isLoading$ | async)" fxLayoutAlign="start" fxFlex="50px">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </form>
  </mat-card>
</section>
