<div class="dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap="wrap" fxLayoutGap="15px">
  <h1 fxFill>Add question</h1>
  <section fxFill>
    <form>
      <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px">
          <mat-form-field>
            <input matInput placeholder="Question">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Category">
              <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Weighted">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Goal to evaluate"></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Expected answer"></textarea>
          </mat-form-field>
          <mat-checkbox>
            Mark as favorite question
          </mat-checkbox>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center">
          <button mat-button mat-raised-button color="primary">Add</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</div>
