<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onCloseSideNav()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/reports" (click)="onCloseSideNav()">
    <mat-icon>dvr</mat-icon>
    <span class="nav-caption">Reports</span>
  </a>
  <a mat-list-item routerLink="/interview" (click)="onCloseSideNav()">
    <mat-icon>contacts</mat-icon>
    <span class="nav-caption">Interview</span>
  </a>
  <a mat-list-item routerLink="/schedule" (click)="onCloseSideNav()">
    <mat-icon>schedule</mat-icon>
    <span class="nav-caption">Schedule</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onCloseSideNav()">
    <mat-icon>build</mat-icon>
    <span class="nav-caption">Admin</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSideNav()">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/logout" (click)="onCloseSideNav()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
