<mat-sidenav-container>
  <mat-sidenav #sideNav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/reports" (click)="sideNav.close()">
        <mat-icon>dvr</mat-icon>
        <span class="nav-caption">Reports</span>
      </a>
      <a mat-list-item routerLink="/interview" (click)="sideNav.close()">
        <mat-icon>contacts</mat-icon>
        <span class="nav-caption">Interview</span>
      </a>
      <a mat-list-item routerLink="/schedule" (click)="sideNav.close()">
        <mat-icon>schedule</mat-icon>
        <span class="nav-caption">Schedule</span>
      </a>
      <a mat-list-item routerLink="/admin" (click)="sideNav.close()">
        <mat-icon>build</mat-icon>
        <span class="nav-caption">Admin</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="sideNav.close()">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxFill fxLayout="column">
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <div fxShow.xs fxHide.gt-xs>
          <button (click)="sideNav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex fxLayout class="logo" fxLayoutAlign="start center">
          <a routerLink="/" fxLayout fxLayoutGap="15px">
            Alligator
          </a>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
          <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li><a routerLink="/reports">Reports</a></li>
            <li><a routerLink="/interview">Interview</a></li>
            <li><a routerLink="/schedule">Schedule</a></li>
            <li><a routerLink="/admin">Admin</a></li>
            <li><a routerLink="/login">Login</a></li>
          </ul>
        </div>
      </mat-toolbar>
      <main fxFlex="85">
        <router-outlet></router-outlet>
      </main>
      <app-footer fxFlex="10"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
