<div class="dashboard" fxLayout="column" fxLayoutAlign="center" fxLayoutWrap="wrap" fxLayoutGap="15px">
  <h1 fxFill>Admin</h1>
  <section fxFill>
    <mat-tab-group>
      <mat-tab label="Questions">
        <div class="content-tab" fxLayout="column">
          <div class="actions" fxLayoutAlign="center">
            <button mat-button mat-raised-button color="primary" routerLink="questions/add">Add new question</button>
          </div>
          <app-question-list></app-question-list>
        </div>
      </mat-tab>
      <mat-tab label="Reports">
        <div class="content-tab" fxLayout="column">
          <div fxLayoutAlign="center center" fxFlex="400px" fxLayout="column">
            <mat-spinner></mat-spinner>
            <h2>Coming soong</h2>
            <p>You will find this content, later!</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
