<mat-toolbar color="primary" class="mat-elevation-z6">
  <div fxShow.xs fxHide.gt-xs>
    <button (click)="onToggleSideNav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout class="logo" fxLayoutAlign="start center">
    <a routerLink="/" fxLayout fxLayoutGap="15px">
      Alligator
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><a routerLink="/home" *ngIf="isAuth">Home</a></li>
      <li><a routerLink="/reports" *ngIf="isAuth">Reports</a></li>
      <li><a routerLink="/interview" *ngIf="isAuth">Interview</a></li>
      <li><a routerLink="/schedule" *ngIf="isAuth">Schedule</a></li>
      <li><a routerLink="/admin" *ngIf="isAuth">Admin</a></li>
      <li><a routerLink="/login" *ngIf="!isAuth">Login</a></li>
      <li><a *ngIf="isAuth" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
