<div class="dashboard" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap="wrap" fxLayoutGap="15px">
  <h1 fxFill>Home</h1>
  <section fxFill>
    <h2>Coming applicants</h2>
    ...
  </section>
  <section fxFill fxLayout="column" fxLayoutGap="15px">
    <h2>Statistics</h2>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Questions</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Interviews</mat-card-title>
      </mat-card-header>
    </mat-card>
  </section>
</div>
